extends layout

block content
	a(href="/userlist") User List
	p
	a(href="/newuser") Add New User

	h3.
		User Detail

	table
		tr
			td
				b Name
			td #{user.username}
		tr
			td 
				b Email
			td #{user.email}
