extends layout

block content
	a(href="/newuser") Add New User

	h3.
		User List

	table
		each user in userlist
			tr
				form(name="deleteuser" + user._id, method="post", action="/deleteuser/" + user._id)
					td
						a(href='/userdetails/' + user._id)= user.username
					td 
						input(type="submit", data-user-id= user._id value="Delete")
